* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: Roboto, Arial, Helvetica, sans-serif;
    
    color: white;
    outline: 2px solid red;
} 

.main-nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 15%;
    background-color: #1F2937;
}

.main-nav .nav-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding: 10% 15%;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 24px;
    
    justify-content: space-between;
}
.hero .content {
    max-width: 700px;
    
}

.hero .profile-image {
    justify-self: center;
    
    margin-right: 10%;
}
.hero .profile-image img{
    border-radius: 50%;
    
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    margin-top: 10px;
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px #E5E7EB;
}

.work-experience {
    display: flex;
    justify-content: center;
    background-color: white;
    back
}

.work-experience h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


