* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: Roboto, Arial, Helvetica, sans-serif;
    
    color: white;
    outline: 2px solid red;
} 

.main-nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 15%;
    background-color: #1F2937;
}

.main-nav .nav-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    padding: 10% 15%;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero .content {
    max-width: 784px;
    
}

.hero .profile-image {
    justify-self: center;
    margin-right: 10%;
    margin: 0 auto;
}
.hero .profile-image img{
    border-radius: 50%;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    margin-top: 10px;
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px #E5E7EB;
}

.work-experience {
    display: flex;
    justify-content: center;
    padding: 5% 15% 10% 15%;
    gap: 16px;
    background-color: white;  
    flex-direction: column;
    align-items: center;
}

.work-experience h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 16px;
}

.work-experience .cards{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
    
}

.work-experience img {
    border: 2px solid #E5E7EB;
    border-radius: 15px;
    padding: 10% 5%;
}

.quotes {
    padding: 8% 20%;
    background-color: #E5E7EB;
    color: #1F2937;
    justify-content: center;
}

.quotes .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    
}

.quotes .author {
    justify-self: flex-end;
    font-weight: 700;
}

.contact-me {
    padding: 5% 15%;
}

.contact-me .contact-container {
    background-color: #3882F6;
    border-radius: 15px;
    padding: 5% 8%;
    display: flex;
    justify-content: space-between;
}

.contact-me .contact-container button {
    border: 2px solid #E5E7EB;
    border-radius: 15px;
}

.footer {
    padding: 2% 15%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

